@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
body {
  font-family: "Lora", serif;
  background: linear-gradient(to bottom, #ffffff, #f2f2f2);
  padding-top: 56px; /* Ensure there's space for the fixed navbar */
}

.navbar-nav {
  flex-direction: row; /* Align links horizontally */
}

.navbar-nav .nav-link {
  padding: 0.8rem 1rem; /* Adjust padding for better touch target */
}

.app-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
}

.app-container h1 {
  text-align: center;
  color: #003366;
  margin-bottom: 50px;
}

.table-responsive {
  margin-top: 20px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}


.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table td, .table th {
  vertical-align: middle;
}

.pagination {
  margin-top: 20px;
}

.pagination .page-item.active .page-link {
  background-color: #1b7ddf;
  border-color: #2d8ff0;
}

  
  @media (max-width: 768px) {
    .app-container {
      padding: 10px;
    }
  }
  
  @media (max-width: 991.98px) {
    .navbar-nav {
      flex-direction: column;
      text-align: center;
    }
  
    .navbar-nav .nav-link {
      padding: 1rem; /* Increase padding for better touch target */
    }
  }