/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
body {
  font-family: "Lora", serif;
  background: linear-gradient(to bottom, #ffffff, #f2f2f2);
  margin: 0;
  padding-top: 70px; /* Ensures content is not hidden under the navbar */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Container styles */
.app-container {
  padding: 40px;
  max-width: 900px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  animation: fadeIn 1s ease-in-out;
  margin: 20px auto; /* Centers the container horizontally */
  flex: 1;
}

/* Header styles */
.app-container h1 {
  font-size: 2.3rem;
  color: #003366;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container h1 i {
  color: #003366;
  margin-right: 18px;
  font-size: 2.3rem;
}

header p {
  font-size: 1.1rem;
  color: #777;
  margin-bottom: 30px;
}

/* Form styles */
.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.upload-form input[type="file"] {
  display: none;
}

.upload-label {
  background-color: #003366;
  color: #fff;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.upload-label i {
  margin-right: 8px;
}

.upload-label:hover {
  background-color: #022c57;
}

.upload-button {
  background-color: rgb(19, 118, 232);
  color: #fff;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.upload-button i {
  margin-right: 8px;
}

.upload-button:hover {
  background-color: rgb(3, 95, 199);
}

#loading-spinner {
  display: none;
  margin: 0 auto;
  margin-top: 20px;
}


/* Phone numbers list styles */
.phone-numbers-container {
  text-align: left;
  margin-bottom: 20px;
}

.phone-numbers-container h2 {
  font-size: 1.8rem;
  color: #4a4a4a;
  text-align: center;
  margin-bottom: 20px;
}

#phone-numbers {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#phone-numbers li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  animation: slideIn 0.5s ease-in-out;
}



footer {
  background-color: #003366;
  color: #fff;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  margin-top: auto; /* Ensures footer is pushed to the bottom */
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.schedule-container {
  margin-top: 30px;
  text-align: center;
}

.schedule-container h3 {
  font-size: 1.8rem;
  color: #4a4a4a;
  margin-bottom: 20px;
}

#schedule-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#schedule-button {
  margin-top: 15px;
  padding: 12px 30px;
  font-size: 1rem;
  background-color: #003366;
  color: #fff;
}

#schedule-button:hover{
  background-color:#022c57 ;
}
/* Ensure navbar links are visible on mobile */
.navbar-nav {
  flex-direction: row; /* Align links horizontally */
}

.navbar-nav .nav-link {
  padding: 0.8rem 1rem; /* Adjust padding for better touch target */
}

/* Center navbar links on mobile */
@media (max-width: 991.98px) {
  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }

  .navbar-nav .nav-link {
    padding: 1rem; /* Increase padding for better touch target */
  }
}

/* Updated styles for the balance info */
.balance-info {
  position: absolute;
  top: 70px; /* Adjust this value to position it below the navbar */
  right: 20px; /* Adjust this value to position it in the right corner */
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Limited box shadow */
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

/* Styles for the balance icon */
.balance-icon {
  margin-right: 5px;
}

/* Styles for the currency */
.balance-currency {
  margin-left: 4px;
  font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .balance-info {
    font-size: 12px; /* Adjust font size for smaller screens if needed */
  }
}

